<?xml version="1.0"?>

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<document>
  <properties>
    <title>Download Apache Maven</title>
    <author>Brett Porter</author>
    <author>Jason van Zyl</author>
    <author>John Casey</author>
    <author>Manfred Moser</author>
  </properties>
  <body>

    <section name="Downloading Apache Maven and Maven Daemon" id="TOC">

      The following artifacts are available for download.


      <ul>
        <li><a href="#Maven">Apache Maven</a>
          <ul>
            <li><a href="#CurrentMaven">Current Maven ${currentStableVersion}</a></li>
            <li><a href="#Maven4x">Preview Maven ${current4xVersion}</a></li>
          </ul>
        </li>
        <li><a href="#Daemon">Maven Daemon</a>
          <ul>
            <li><a href="#CurrentDaemon">Current Maven Daemon ${currentMvnd1xVersion}</a></li>
            <li><a href="#Daemon2x">Preview Maven Daemon ${currentMvnd2xVersion}</a></li>
          </ul>
        </li>
      </ul>
    </section>


    <section name="Apache Maven" id="Maven">
      <subsection name="Apache Maven ${currentStableVersion}" id="CurrentMaven">

      <p>Apache Maven ${currentStableVersion} is the latest release: it is the recommended version for all users.</p>
      <p>Maven 3.9+ requires JDK 8 or above to execute. It still allows you to build against 1.3 and other JDK versions
        <a href="/guides/mini/guide-using-toolchains.html">by using toolchains</a>.</p>

      <p>Maven is distributed in several formats for your convenience. Simply pick a
        ready-made binary distribution archive and follow the <a href="./install.html">
          installation instructions.</a>
        Use a source archive if you intend to build Maven yourself.</p>

      <table>
        <thead>
          <tr>
            <th></th>
            <th>Link</th>
            <th>Checksums</th>
            <th>Signature</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Binary tar.gz archive</td>
            <td><a href="[preferred]maven/maven-3/${currentStableVersion}/binaries/apache-maven-${currentStableVersion}-bin.tar.gz">apache-maven-${currentStableVersion}-bin.tar.gz</a></td>
            <td><a href="https://downloads.apache.org/maven/maven-3/${currentStableVersion}/binaries/apache-maven-${currentStableVersion}-bin.tar.gz.sha512">apache-maven-${currentStableVersion}-bin.tar.gz.sha512</a></td>
            <td><a href="https://downloads.apache.org/maven/maven-3/${currentStableVersion}/binaries/apache-maven-${currentStableVersion}-bin.tar.gz.asc">apache-maven-${currentStableVersion}-bin.tar.gz.asc</a></td>
          </tr>
          <tr>
            <td>Binary zip archive</td>
            <td><a href="[preferred]maven/maven-3/${currentStableVersion}/binaries/apache-maven-${currentStableVersion}-bin.zip">apache-maven-${currentStableVersion}-bin.zip</a></td>
            <td><a href="https://downloads.apache.org/maven/maven-3/${currentStableVersion}/binaries/apache-maven-${currentStableVersion}-bin.zip.sha512">apache-maven-${currentStableVersion}-bin.zip.sha512</a></td>
            <td><a href="https://downloads.apache.org/maven/maven-3/${currentStableVersion}/binaries/apache-maven-${currentStableVersion}-bin.zip.asc">apache-maven-${currentStableVersion}-bin.zip.asc</a></td>
          </tr>
          <tr>
            <td>Source tar.gz archive</td>
            <td><a href="[preferred]maven/maven-3/${currentStableVersion}/source/apache-maven-${currentStableVersion}-src.tar.gz">apache-maven-${currentStableVersion}-src.tar.gz</a></td>
            <td><a href="https://downloads.apache.org/maven/maven-3/${currentStableVersion}/source/apache-maven-${currentStableVersion}-src.tar.gz.sha512">apache-maven-${currentStableVersion}-src.tar.gz.sha512</a></td>
            <td><a href="https://downloads.apache.org/maven/maven-3/${currentStableVersion}/source/apache-maven-${currentStableVersion}-src.tar.gz.asc">apache-maven-${currentStableVersion}-src.tar.gz.asc</a>
            </td>
          </tr>
          <tr>
            <td>Source zip archive </td>
            <td><a href="[preferred]maven/maven-3/${currentStableVersion}/source/apache-maven-${currentStableVersion}-src.zip">apache-maven-${currentStableVersion}-src.zip</a></td>
            <td><a href="https://downloads.apache.org/maven/maven-3/${currentStableVersion}/source/apache-maven-${currentStableVersion}-src.zip.sha512">apache-maven-${currentStableVersion}-src.zip.sha512</a></td>
            <td><a href="https://downloads.apache.org/maven/maven-3/${currentStableVersion}/source/apache-maven-${currentStableVersion}-src.zip.asc">apache-maven-${currentStableVersion}-src.zip.asc</a></td>
          </tr>
        </tbody>
      </table>

      <p>
      In order to guard against corrupted downloads/installations, it is highly recommended to
      <a href="https://www.apache.org/info/verification.html">verify the signature</a>
      of the release bundles against the public <a href="https://downloads.apache.org/maven/KEYS">KEYS</a> used by the Apache Maven
      developers.</p>

      <ul>
        <li>${currentStableVersion} <a href="./docs/${currentStableVersion}/release-notes.html">Release Notes</a> and
            <a href="./ref/${currentStableVersion}/">Release Reference Documentation</a></li>
        <li><a href="./scm.html">latest source code from source repository</a></li>
        <li>Distributed under the <a href="https://www.apache.org/licenses/">Apache License, version 2.0</a></li>
        <li>other:<ul>
        <li>All current release sources (plugins, shared libraries,...) available at <a href="[preferred]maven/">[preferred]maven/</a></li>
        </ul></li>
      </ul>

      <p>It is strongly recommended to use the latest release version of Apache Maven to take advantage of newest features and bug fixes.</p>

      <p>If you still want to use an old version, you can find more information in the
        <a href="./docs/history.html">Maven Releases History</a> and can download files from
        the  <a href="https://archive.apache.org/dist/maven/maven-3/">Maven 3 archives</a> for versions 3.0.4+
        and <a href="https://archive.apache.org/dist/maven/binaries/">legacy archives</a> for earlier releases.</p>
      </subsection>

      <subsection name="Preview 4.x Release" id="Maven4x">
        <p>Maven 4.x is currently under development, so while we are encouraging users to try it and report any issue. It is <b>NOT</b> safe for production use.</p>

        <p>
          <table>
            <tr>
              <td><b>Java Development Kit (JDK)</b></td>
              <td>Maven 4.0+ requires JDK 17 or above to execute. It still allows you to build against 8 and other JDK versions
                <a href="/guides/mini/guide-using-toolchains.html">by using toolchains</a>.</td>
            </tr>
          </table>
        </p>

        <table>
          <thead>
            <tr>
              <th>Format</th>
              <th>Binary (Checksum, Signature)</th>
              <th>Source (Checksum, Signature)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>tar.gz archives</td>
              <td>Binary <a href="[preferred]maven/maven-4/${current4xVersion}/binaries/apache-maven-${current4xVersion}-bin.tar.gz">apache-maven-${current4xVersion}-bin.tar.gz</a>
                (<a href="https://downloads.apache.org/maven/maven-4/${current4xVersion}/binaries/apache-maven-${current4xVersion}-bin.tar.gz.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/maven-4/${current4xVersion}/binaries/apache-maven-${current4xVersion}-bin.tar.gz.asc">asc</a>)</td>
              <td>Source <a href="[preferred]maven/maven-4/${current4xVersion}/source/apache-maven-${current4xVersion}-src.tar.gz">apache-maven-${current4xVersion}-src.tar.gz</a>
                (<a href="https://downloads.apache.org/maven/maven-4/${current4xVersion}/source/apache-maven-${current4xVersion}-src.tar.gz.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/maven-4/${current4xVersion}/source/apache-maven-${current4xVersion}-src.tar.gz.asc">asc</a>)</td>
            </tr>
            <tr>
              <td>zip archives</td>
              <td>Binary <a href="[preferred]maven/maven-4/${current4xVersion}/binaries/apache-maven-${current4xVersion}-bin.zip">apache-maven-${current4xVersion}-bin.zip</a>
                (<a href="https://downloads.apache.org/maven/maven-4/${current4xVersion}/binaries/apache-maven-${current4xVersion}-bin.zip.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/maven-4/${current4xVersion}/binaries/apache-maven-${current4xVersion}-bin.zip.asc">asc</a>)</td>
              <td>Source <a href="[preferred]maven/maven-4/${current4xVersion}/source/apache-maven-${current4xVersion}-src.zip">apache-maven-${current4xVersion}-src.zip</a>
                (<a href="https://downloads.apache.org/maven/maven-4/${current4xVersion}/source/apache-maven-${current4xVersion}-src.zip.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/maven-4/${current4xVersion}/source/apache-maven-${current4xVersion}-src.zip.asc">asc</a>)</td>
            </tr>
          </tbody>
        </table>
        <ul>
          <li>${current4xVersion} <a href="./docs/${current4xVersion}/release-notes.html">Release Notes</a> and
            <a href="./ref/${current4xVersion}/">Release Reference Documentation</a></li>
          <li>Distributed under the <a href="https://www.apache.org/licenses/">Apache License, version 2.0</a></li>
          <li><a href="https://archive.apache.org/dist/maven/maven-4/">Maven 4 archives</a> for older 4.x releases.</li>
        </ul>
      </subsection>
    </section>

    <section name="Maven Daemon" id="Daemon">
      <subsection name="Maven Daemon ${currentMvnd1xVersion}" id="CurrentDaemon">
        <p>Apache Maven Daemon (mvnd) is available as a separate download. In order to guard against corrupted downloads/installations, it is highly recommended to
          <a href="https://www.apache.org/info/verification.html">verify the signature</a>
          of the release bundles against the public <a href="https://downloads.apache.org/maven/KEYS">KEYS</a> used by the Apache Maven developers.</p>

        <table>
          <thead>
            <tr>
              <th>Platform</th>
              <th>Format</th>
              <th>Download Link (Checksum, Signature)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="2">macOS (Apple Silicon)</td>
              <td>tar.gz</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-darwin-aarch64.tar.gz">maven-mvnd-${currentMvnd1xVersion}-darwin-aarch64.tar.gz</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-darwin-aarch64.tar.gz.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-darwin-aarch64.tar.gz.asc">asc</a>)</td>
            </tr>
            <tr>
              <td>zip</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-darwin-aarch64.zip">maven-mvnd-${currentMvnd1xVersion}-darwin-aarch64.zip</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-darwin-aarch64.zip.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-darwin-aarch64.zip.asc">asc</a>)</td>
            </tr>
            <tr>
              <td rowspan="2">macOS (Intel)</td>
              <td>tar.gz</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-darwin-amd64.tar.gz">maven-mvnd-${currentMvnd1xVersion}-darwin-amd64.tar.gz</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-darwin-amd64.tar.gz.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-darwin-amd64.tar.gz.asc">asc</a>)</td>
            </tr>
            <tr>
              <td>zip</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-darwin-amd64.zip">maven-mvnd-${currentMvnd1xVersion}-darwin-amd64.zip</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-darwin-amd64.zip.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-darwin-amd64.zip.asc">asc</a>)</td>
            </tr>
            <tr>
              <td rowspan="2">Linux (x86_64)</td>
              <td>tar.gz</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-linux-amd64.tar.gz">maven-mvnd-${currentMvnd1xVersion}-linux-amd64.tar.gz</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-linux-amd64.tar.gz.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-linux-amd64.tar.gz.asc">asc</a>)</td>
            </tr>
            <tr>
              <td>zip</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-linux-amd64.zip">maven-mvnd-${currentMvnd1xVersion}-linux-amd64.zip</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-linux-amd64.zip.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-linux-amd64.zip.asc">asc</a>)</td>
            </tr>
            <tr>
              <td rowspan="2">Windows (x86_64)</td>
              <td>tar.gz</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-windows-amd64.tar.gz">maven-mvnd-${currentMvnd1xVersion}-windows-amd64.tar.gz</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-windows-amd64.tar.gz.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-windows-amd64.tar.gz.asc">asc</a>)</td>
            </tr>
            <tr>
              <td>zip</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-windows-amd64.zip">maven-mvnd-${currentMvnd1xVersion}-windows-amd64.zip</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-windows-amd64.zip.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-windows-amd64.zip.asc">asc</a>)</td>
            </tr>
            <tr>
              <td rowspan="2">Source</td>
              <td>tar.gz</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-src.tar.gz">maven-mvnd-${currentMvnd1xVersion}-src.tar.gz</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-src.tar.gz.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-src.tar.gz.asc">asc</a>)</td>
            </tr>
            <tr>
              <td>zip</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-src.zip">maven-mvnd-${currentMvnd1xVersion}-src.zip</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-src.zip.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd1xVersion}/maven-mvnd-${currentMvnd1xVersion}-src.zip.asc">asc</a>)</td>
            </tr>
          </tbody>
        </table>

        <ul>
          <li>${currentMvnd1xVersion} <a href="https://github.com/apache/maven-mvnd/releases/tag/${currentMvnd1xVersion}">Release Notes</a></li>
          <li>Distributed under the <a href="https://www.apache.org/licenses/">Apache License, version 2.0</a></li>
        </ul>
      </subsection>

      <subsection name="Preview Daemon 2.x Release" id="Daemon2x">
        <p>Maven Daemon 2.x is currently under development, so while we are encouraging users to try it and report any issue, it is NOT safe for production use.</p>

        <table>
          <thead>
            <tr>
              <th>Platform</th>
              <th>Format</th>
              <th>Download Link (Checksum, Signature)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="2">macOS (Apple Silicon)</td>
              <td>tar.gz</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-darwin-aarch64.tar.gz">maven-mvnd-${currentMvnd2xVersion}-darwin-aarch64.tar.gz</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-darwin-aarch64.tar.gz.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-darwin-aarch64.tar.gz.asc">asc</a>)</td>
            </tr>
            <tr>
              <td>zip</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-darwin-aarch64.zip">maven-mvnd-${currentMvnd2xVersion}-darwin-aarch64.zip</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-darwin-aarch64.zip.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-darwin-aarch64.zip.asc">asc</a>)</td>
            </tr>
            <tr>
              <td rowspan="2">macOS (Intel)</td>
              <td>tar.gz</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-darwin-amd64.tar.gz">maven-mvnd-${currentMvnd2xVersion}-darwin-amd64.tar.gz</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-darwin-amd64.tar.gz.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-darwin-amd64.tar.gz.asc">asc</a>)</td>
            </tr>
            <tr>
              <td>zip</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-darwin-amd64.zip">maven-mvnd-${currentMvnd2xVersion}-darwin-amd64.zip</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-darwin-amd64.zip.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-darwin-amd64.zip.asc">asc</a>)</td>
            </tr>
            <tr>
              <td rowspan="2">Linux (x86_64)</td>
              <td>tar.gz</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-linux-amd64.tar.gz">maven-mvnd-${currentMvnd2xVersion}-linux-amd64.tar.gz</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-linux-amd64.tar.gz.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-linux-amd64.tar.gz.asc">asc</a>)</td>
            </tr>
            <tr>
              <td>zip</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-linux-amd64.zip">maven-mvnd-${currentMvnd2xVersion}-linux-amd64.zip</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-linux-amd64.zip.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-linux-amd64.zip.asc">asc</a>)</td>
            </tr>
            <tr>
              <td rowspan="2">Windows (x86_64)</td>
              <td>tar.gz</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-windows-amd64.tar.gz">maven-mvnd-${currentMvnd2xVersion}-windows-amd64.tar.gz</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-windows-amd64.tar.gz.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-windows-amd64.tar.gz.asc">asc</a>)</td>
            </tr>
            <tr>
              <td>zip</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-windows-amd64.zip">maven-mvnd-${currentMvnd2xVersion}-windows-amd64.zip</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-windows-amd64.zip.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-windows-amd64.zip.asc">asc</a>)</td>
            </tr>
            <tr>
              <td rowspan="2">Source</td>
              <td>tar.gz</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-src.tar.gz">maven-mvnd-${currentMvnd2xVersion}-src.tar.gz</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-src.tar.gz.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-src.tar.gz.asc">asc</a>)</td>
            </tr>
            <tr>
              <td>zip</td>
              <td><a href="[preferred]maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-src.zip">maven-mvnd-${currentMvnd2xVersion}-src.zip</a>
                (<a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-src.zip.sha512">sha512</a>,
                <a href="https://downloads.apache.org/maven/mvnd/${currentMvnd2xVersion}/maven-mvnd-${currentMvnd2xVersion}-src.zip.asc">asc</a>)</td>
            </tr>
          </tbody>
        </table>

        <ul>
          <li>${currentMvnd2xVersion} <a href="https://github.com/apache/maven-mvnd/releases/tag/${currentMvnd2xVersion}">Release Notes</a></li>
          <li>Distributed under the <a href="https://www.apache.org/licenses/">Apache License, version 2.0</a></li>
        </ul>
      </subsection>
    </section>
  </body>
</document>
