<?xml version="1.0"?>
<!--

Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.

-->
<document>
  <properties>
    <title>Welcome to Apache Maven</title>
    <author email="brett@apache.org">Brett Porter</author>
    <author email="jason@takari.io">Jason van Zyl</author>
    <author email="olamy@apache.org">Olivier Lamy</author>    
  </properties>
  <body>

    <section name="Welcome to Apache Maven">

      <!-- TODO: I reckon it's time for a new description -->
      <p>
        Apache Maven is a software project management and comprehension tool. Based on the concept of a project object model
        (POM), Maven can manage a project's build, reporting and documentation from a central piece of information.
      </p>
      <p>
        If you think that Maven could help your project, you can find out more information about in the "About Maven"
        section of the navigation. This includes an in-depth description of <a href="what-is-maven.html">what Maven is</a>,
        a <a href="maven-features.html">list of some of its main features</a>, and a set of <a href="general.html">frequently
        asked questions about what Maven is</a>.
      </p>
      <h3>Learning about Maven</h3>
      <p>
        <!-- TODO: this could be the big button type thing instead of a list of links -->
        This site is separated into the following sections, depending on how you'd like to use Maven:
      </p>
      <!-- TODO: use CSS -->
      <ul>
        <li>
          <span style="white-space:nowrap; font-weight: bold; font-size: 1.25em">
            <a href="run-maven/index.html">Run Maven</a>
          </span>
          <span style="display: block; margin-bottom: 0.5em">
            Information for those needing to build a project that uses Maven
          </span>
        </li>
        <li>
          <span style="white-space:nowrap; font-weight: bold; font-size: 1.25em">
            <a href="users/index.html">Use Maven</a>
          </span>
          <span style="display: block; margin-bottom: 0.5em">
            Information for those wanting to use Maven to build their project, including a "10 minute test" that gives a
            practical overview of Maven's main features in just 10 minutes
          </span>
        </li>
        <li>
          <span style="white-space:nowrap; font-weight: bold; font-size: 1.25em">
            <a href="plugin-developers/index.html">Write Maven Plugins</a>
          </span>
          <span style="display: block; margin-bottom: 0.5em">
            Information for those who may or may not be using Maven, but want to provide a plugin for shared
            functionality or to accompany their own product or toolset
          </span>
        </li>
        <li>
          <span style="white-space:nowrap; font-weight: bold; font-size: 1.25em">
            <a href="repository/index.html">Improve the Maven Repository</a>
          </span>
          <span style="display: block; margin-bottom: 0.5em">
            Information for those who may or may not use, but are interested in getting project metadata into the
            repository
          </span>
        </li>
        <li>
          <span style="white-space:nowrap; font-weight: bold; font-size: 1.25em">
            <a href="developers/index.html">Develop Maven</a>
          </span>
          <span style="display: block; margin-bottom: 0.5em">
            Information for those who are currently developers, or who are interested
            in contributing to the Maven project itself
          </span>
        </li>
      </ul>
      <p>
        Each guide is divided into a number of trails to get you started on a particular topic, and includes a
        reference area and a "cookbook" of common examples.
      </p>
      <p>
        You can access the guides at any time from the left navigation.
      </p>
      <h3>Documentation Index</h3>
      <p>
        If you are looking for a quick reference, you can use the <a href="guides/index.html">documentation index.</a>
<!-- TODO
        If you are looking for a quick reference, you can use the documentation index. It is available in both
        <a href="todo.html">alphabetical</a> and <a href="todo.html">categorical</a> listing formats.
-->
      </p>
      <h3>Plugins</h3>
<!-- TODO
      <p>
        Maven functionality is provided by plugins. For an explanation of how plugins work, and basic information on how
        to use a plugin, see the <a href="todo.html">introduction to plugins</a> in the Users Centre.
      </p>
-->
      <p>
        For detailed information on just some of the plugins available for Maven, see the
        <a href="plugins/index.html">plugin list</a>.
      </p>
      <h3>How to Get Support</h3>
      <p>
        Support for Maven is available in a variety of different forms.
      </p>
      <p>
        To get started, search the documentation, the <a href="http://docs.codehaus.org/display/MAVENUSER">wiki</a>,
        <a href="issue-tracking.html">issue tracker</a>, or the <a href="mail-lists.html">mailing list archives</a> to
        see if the problem has been solved or reported before.
      </p>
      <p>
        If the problem has not been reported before, the recommended way to get help is to
        subscribe to the <a href="mail-lists.html">Maven Users Mailing list</a>. Many other users and Maven developers
        will answer your questions there, and the answer will be archived for others in the future.
      </p>
      <p>
        You can also reach the Maven developers on <a href="community.html">IRC</a>.
      </p>

      <h3>How can I help?</h3>
      <p>
        Maven is an open source community and welcomes contributions. If you'd like to get involved, see the
        <a href="guides/development/guide-helping.html">Guide to helping with Maven</a>.
      </p>
      <p>
        Maven is a part of the Apache Software Foundation. We'd like to <a href="http://www.apache.org/foundation/thanks.html">thank
        the sponsors</a> that provide financial assistance to the foundation. For more information on how you can support the
        foundation, see the <a href="http://www.apache.org/foundation/sponsorship.html">sponsorship</a> page.
      </p>

      <h3>Archived Releases</h3>
      <p>
        Maven 1.x and Maven 2.x have now reached their end of life. The following documentation is archived:
      </p>
      <ul>
        <li><a href="archives/maven-1.x/index.html">Archived documentation for Maven 1.x</a></li>
        <li><a href="archives/maven-2.x/index.html">Archived documentation for Maven 2.x</a></li>
      </ul>
    </section>
  </body>
</document>
