ErrorDocument 404 /errors/404.html

Redirect /ref/current http://maven.apache.org/ref/${currentStableVersion}
Redirect /ref/current-2.0.x http://maven.apache.org/ref/${current20xVersion}

Redirect Permanent /ant-tasks.html http://maven.apache.org/ant-tasks/index.html
Redirect Permanent /ant-tasks-release-notes.html http://maven.apache.org/ant-tasks/release-notes.html

Redirect Permanent /guides/mini/guide-ibiblio-upload.html http://maven.apache.org/guides/mini/guide-central-repository-upload.html
Redirect Permanent /faq.html http://maven.apache.org/general.html
Redirect Permanent /developers/release/pmc-release-process.html http://maven.apache.org/developers/release/releasing.html

Redirect Permanent /plugins/maven-checkstyle-plugin/customize.html http://maven.apache.org/plugins/maven-checkstyle-plugin/examples/custom-checker-config.html
Redirect Permanent /plugins/maven-checkstyle-plugin/howto.html http://maven.apache.org/plugins/maven-checkstyle-plugin/usage.html
Redirect Permanent /plugins/maven-checkstyle-plugin/tips.html http://maven.apache.org/plugins/maven-checkstyle-plugin/examples/multi-module-config.html

RedirectMatch ^/maven2/(.*)$ /$1
RedirectMatch ^/reference/(.*)$ /maven-1.x/reference/$1
RedirectMatch ^/maven-1.x/reference/plugins/(.*)$ /maven-1.x/plugins/$1
RedirectMatch ^/maven-model/(.*)$ /ref/2.0.8/maven-model/$1
RedirectMatch ^/maven-settings/(.*)$ /ref/2.0.8/maven-settings/$1
RedirectMatch ^/maven-1.x/plugins-sandbox/(.*)$ /maven-1.x/plugins/$1

RedirectMatch permanent ^/repository-manager/(.*)$ http://archiva.apache.org/$1
RedirectMatch permanent ^/archiva(.*)$ http://archiva.apache.org$1
RedirectMatch permanent ^/continuum(.*)$ http://continuum.apache.org$1

RedirectMatch permanent ^/plugins/maven-clover-plugin/([^2i].+)$ http://maven.apache.org/plugins/maven-clover-plugin/2.4/$1
RedirectMatch permanent ^/plugins/maven-clover-plugin/ins(.+)$ http://maven.apache.org/plugins/maven-clover-plugin/2.4/ins$1
RedirectMatch permanent ^/plugins/maven-clover-plugin/int(.+)$ http://maven.apache.org/plugins/maven-clover-plugin/2.4/int$1

Redirect Permanent /guides/development/guide-plugin-snapshot-repositories.html http://maven.apache.org/guides/development/guide-testing-development-plugins.html
