 ------
Download Maven
 ------
Brett Porter
Jason van Zyl
John Casey
 ------
2010-09-04
 ------

~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

~~ NOTE: For help with the syntax of this file, see:
~~ http://maven.apache.org/doxia/references/apt-format.html

Download Maven ${currentStableVersion}

   Maven is distributed in several formats for your convenience. Use a source archive if you intend to build Maven
   yourself. Otherwise, simply pick a ready-made binary distribution and follow the installation instructions given
   at the end of this document.

   You will be prompted for a mirror - if the file is not found on yours, please be patient, as it may take 24
   hours to reach all mirrors.

   In order to guard against corrupted downloads/installations, it is highly recommended to
   {{{http://www.apache.org/dev/release-signing#verifying-signature}verify the signature}}
   of the release bundles against the public {{{http://www.apache.org/dist/maven/KEYS}KEYS}} used by the Apache Maven
   developers.

   Maven is distributed under the {{{http://maven.apache.org/license.html} Apache License, version 2.0}}.

   We <<strongly>> encourage our users to configure a Maven repository mirror closer to their location, please read {{{./guides/mini/guide-mirror-settings.html} How to Use Mirrors for Repositories}}.

   Be sure to check the
   {{{http://cwiki.apache.org/MAVEN/maven-3x-compatibility-notes.html} compatibility notes}}
   before using this version to avoid surprises. While Maven 3 aims to be backward-compatible with Maven 2.x to the
   extent possible, there are still a few significant changes.

*-------------------------+---------+----------+-----------+
|                         | Mirrors | Checksum | Signature |
*-------------------------+---------+----------+-----------+
| Maven ${currentStableVersion} (Binary tar.gz)      | {{{http://www.apache.org/dyn/closer.cgi/maven/binaries/apache-maven-${currentStableVersion}-bin.tar.gz} apache-maven-${currentStableVersion}-bin.tar.gz}} | {{{http://www.apache.org/dist/maven/binaries/apache-maven-${currentStableVersion}-bin.tar.gz.md5} apache-maven-${currentStableVersion}-bin.tar.gz.md5}} | {{{http://www.apache.org/dist/maven/binaries/apache-maven-${currentStableVersion}-bin.tar.gz.asc} apache-maven-${currentStableVersion}-bin.tar.gz.asc}} |
*-------------------------+---------+----------+-----------+
| Maven ${currentStableVersion} (Binary zip)         | {{{http://www.apache.org/dyn/closer.cgi/maven/binaries/apache-maven-${currentStableVersion}-bin.zip} apache-maven-${currentStableVersion}-bin.zip}} | {{{http://www.apache.org/dist/maven/binaries/apache-maven-${currentStableVersion}-bin.zip.md5} apache-maven-${currentStableVersion}-bin.zip.md5}} | {{{http://www.apache.org/dist/maven/binaries/apache-maven-${currentStableVersion}-bin.zip.asc} apache-maven-${currentStableVersion}-bin.zip.asc}} |
*-------------------------+---------+----------+-----------+
| Maven ${currentStableVersion} (Source tar.gz)      | {{{http://www.apache.org/dyn/closer.cgi/maven/source/apache-maven-${currentStableVersion}-src.tar.gz} apache-maven-${currentStableVersion}-src.tar.gz}} | {{{http://www.apache.org/dist/maven/source/apache-maven-${currentStableVersion}-src.tar.gz.md5} apache-maven-${currentStableVersion}-src.tar.gz.md5}} | {{{http://www.apache.org/dist/maven/source/apache-maven-${currentStableVersion}-src.tar.gz.asc} apache-maven-${currentStableVersion}-src.tar.gz.asc}} |
*-------------------------+---------+----------+-----------+
| Maven ${currentStableVersion} (Source zip)         | {{{http://www.apache.org/dyn/closer.cgi/maven/source/apache-maven-${currentStableVersion}-src.zip} apache-maven-${currentStableVersion}-src.zip}} | {{{http://www.apache.org/dist/maven/source/apache-maven-${currentStableVersion}-src.zip.md5} apache-maven-${currentStableVersion}-src.zip.md5}} | {{{http://www.apache.org/dist/maven/source/apache-maven-${currentStableVersion}-src.zip.asc} apache-maven-${currentStableVersion}-src.zip.asc}} |
*-------------------------+---------+----------+-----------+
| Release Notes           | {{{./docs/${currentStableVersion}/release-notes.html} ${currentStableVersion}}} | | |
*-------------------------+---------+----------+-----------+
| Release Reference Documentation | {{{./ref/${currentStableVersion}/} ${currentStableVersion}}} | | |
*-------------------------+---------+----------+-----------+

  You can also download the current documentation, i.e. this website, as a {{{Maven_Documentation}JAR or PDF}}.

* {Maven ${current22xVersion}}

  This is an older, but stable version of Maven for projects that can't upgrade to Maven 3.x yet.

*-------------------------+---------+----------+-----------+
|                         | Mirrors | Checksum | Signature |
*-------------------------+---------+----------+-----------+
| Maven ${current22xVersion} (Binary tar.gz)      | {{{http://www.apache.org/dyn/closer.cgi/maven/binaries/apache-maven-${current22xVersion}-bin.tar.gz} apache-maven-${current22xVersion}-bin.tar.gz}} | {{{http://www.apache.org/dist/maven/binaries/apache-maven-${current22xVersion}-bin.tar.gz.md5} apache-maven-${current22xVersion}-bin.tar.gz.md5}} | {{{http://www.apache.org/dist/maven/binaries/apache-maven-${current22xVersion}-bin.tar.gz.asc} apache-maven-${current22xVersion}-bin.tar.gz.asc}} |
*-------------------------+---------+----------+-----------+
| Maven ${current22xVersion} (Binary zip)         | {{{http://www.apache.org/dyn/closer.cgi/maven/binaries/apache-maven-${current22xVersion}-bin.zip} apache-maven-${current22xVersion}-bin.zip}} | {{{http://www.apache.org/dist/maven/binaries/apache-maven-${current22xVersion}-bin.zip.md5} apache-maven-${current22xVersion}-bin.zip.md5}} | {{{http://www.apache.org/dist/maven/binaries/apache-maven-${current22xVersion}-bin.zip.asc} apache-maven-${current22xVersion}-bin.zip.asc}} |
*-------------------------+---------+----------+-----------+
| Maven ${current22xVersion} (Source tar.gz)      | {{{http://www.apache.org/dyn/closer.cgi/maven/source/apache-maven-${current22xVersion}-src.tar.gz} apache-maven-${current22xVersion}-src.tar.gz}} | {{{http://www.apache.org/dist/maven/source/apache-maven-${current22xVersion}-src.tar.gz.md5} apache-maven-${current22xVersion}-src.tar.gz.md5}} | {{{http://www.apache.org/dist/maven/source/apache-maven-${current22xVersion}-src.tar.gz.asc} apache-maven-${current22xVersion}-src.tar.gz.asc}} |
*-------------------------+---------+----------+-----------+
| Maven ${current22xVersion} (Source zip)         | {{{http://www.apache.org/dyn/closer.cgi/maven/source/apache-maven-${current22xVersion}-src.zip} apache-maven-${current22xVersion}-src.zip}} | {{{http://www.apache.org/dist/maven/source/apache-maven-${current22xVersion}-src.zip.md5} apache-maven-${current22xVersion}-src.zip.md5}} | {{{http://www.apache.org/dist/maven/source/apache-maven-${current22xVersion}-src.zip.asc} apache-maven-${current22xVersion}-src.zip.asc}} |
*-------------------------+---------+----------+-----------+
| Release Notes           | {{{./docs/${current22xVersion}/release-notes.html} ${current22xVersion}}} | | |
*-------------------------+---------+----------+-----------+
| Release Reference Documentation | {{{./ref/${current22xVersion}/} ${current22xVersion}}} | | |
*-------------------------+---------+----------+-----------+

* {Maven ${current20xVersion}}

  This is an older, but stable version of Maven for projects that require Maven to run on JDK 1.4.

*-------------------------+---------+----------+-----------+
|                         | Mirrors | Checksum | Signature |
*-------------------------+---------+----------+-----------+
| Maven ${current20xVersion} (Binary tar.gz)      | {{{http://www.apache.org/dyn/closer.cgi/maven/binaries/apache-maven-${current20xVersion}-bin.tar.gz} apache-maven-${current20xVersion}-bin.tar.gz}} | {{{http://www.apache.org/dist/maven/binaries/apache-maven-${current20xVersion}-bin.tar.gz.md5} apache-maven-${current20xVersion}-bin.tar.gz.md5}} | {{{http://www.apache.org/dist/maven/binaries/apache-maven-${current20xVersion}-bin.tar.gz.asc} apache-maven-${current20xVersion}-bin.tar.gz.asc}} |
*-------------------------+---------+----------+-----------+
| Maven ${current20xVersion} (Binary zip)         | {{{http://www.apache.org/dyn/closer.cgi/maven/binaries/apache-maven-${current20xVersion}-bin.zip} apache-maven-${current20xVersion}-bin.zip}} | {{{http://www.apache.org/dist/maven/binaries/apache-maven-${current20xVersion}-bin.zip.md5} apache-maven-${current20xVersion}-bin.zip.md5}} | {{{http://www.apache.org/dist/maven/binaries/apache-maven-${current20xVersion}-bin.zip.asc} apache-maven-${current20xVersion}-bin.zip.asc}} |
*-------------------------+---------+----------+-----------+
| Maven ${current20xVersion} (Source tar.gz)      | {{{http://www.apache.org/dyn/closer.cgi/maven/source/apache-maven-${current20xVersion}-src.tar.gz} apache-maven-${current20xVersion}-src.tar.gz}} | {{{http://www.apache.org/dist/maven/source/apache-maven-${current20xVersion}-src.tar.gz.md5} apache-maven-${current20xVersion}-src.tar.gz.md5}} | {{{http://www.apache.org/dist/maven/source/apache-maven-${current20xVersion}-src.tar.gz.asc} apache-maven-${current20xVersion}-src.tar.gz.asc}} |
*-------------------------+---------+----------+-----------+
| Maven ${current20xVersion} (Source zip)         | {{{http://www.apache.org/dyn/closer.cgi/maven/source/apache-maven-${current20xVersion}-src.zip} apache-maven-${current20xVersion}-src.zip}} | {{{http://www.apache.org/dist/maven/source/apache-maven-${current20xVersion}-src.zip.md5} apache-maven-${current20xVersion}-src.zip.md5}} | {{{http://www.apache.org/dist/maven/source/apache-maven-${current20xVersion}-src.zip.asc} apache-maven-${current20xVersion}-src.zip.asc}} |
*-------------------------+---------+----------+-----------+
| Release Notes           | {{{./docs/${current20xVersion}/release-notes.html} ${current20xVersion}}} | | |
*-------------------------+---------+----------+-----------+
| Release Reference Documentation | {{{./ref/${current20xVersion}/} ${current20xVersion}}} | | |
*-------------------------+---------+----------+-----------+

* {Maven Documentation}

  You can download the current documentation, i.e. this website, as:

  * a {{{./maven-site-1.0-site.jar}single jar}} file;

  * a {{{./apache-maven.pdf}PDF}} file.

  []

* Previous Releases

  All previous releases of Maven can be found in the {{{http://archive.apache.org/dist/maven/binaries/}archives}}.

* System {Requirements}

*----------------------+---------------------------------------------------------------------------------------------+
| <<JDK>>              | 1.5 or above (this is to execute Maven - it still allows you to build against 1.3 and prior JDK's)
*----------------------+---------------------------------------------------------------------------------------------+
| <<Memory>>           | No minimum requirement
*----------------------+---------------------------------------------------------------------------------------------+
| <<Disk>>             | No minimum requirement. Approximately 100MB will be used for your local repository, however this will vary depending on usage and can be removed and redownloaded at any time.
*----------------------+---------------------------------------------------------------------------------------------+
| <<Operating System>> | No minimum requirement. On Windows, Windows NT and above or Cygwin is required for the startup scripts. Tested on Windows XP, Fedora Core and Mac OS X.
*----------------------+---------------------------------------------------------------------------------------------+

* {Installation} Instructions

  <Maven is a Java tool, so you must have {{{http://www.oracle.com/technetwork/java/}Java}} installed in order to proceed. More precisely,
  you need a Java Development Kit (JDK), the Java Runtime Environment (JRE) is not sufficient.>

  Additional optional installation steps are listed after the platform specific instructions.

~~ NOTE:
~~ At least Windows users seem to be confused if the instructions contain quotation marks because people included them
~~ literally in the environment variables which does not work. For this reason, literal values are only printed using
~~ type-writer face without any surrounding quotations marks unless these are expected to be typed by the user, too.

** Windows 2000/XP

  [[1]] Unzip the distribution archive, i.e. <<<apache-maven-${currentStableVersion}-bin.zip>>> to the directory you wish to install Maven ${currentStableVersion}.
        These instructions assume you chose <<<C:\Program Files\Apache Software Foundation>>>.
        The subdirectory <<<apache-maven-${currentStableVersion}>>> will be created from the archive.

  [[2]] Add the <<<M2_HOME>>> environment variable by opening up the system properties (WinKey + Pause),
        selecting the "Advanced" tab, and the "Environment Variables" button, then adding the <<<M2_HOME>>>
        variable in the user variables with the value
        <<<C:\Program Files\Apache Software Foundation\apache-maven-${currentStableVersion}>>>. Be sure to omit any quotation marks around the path
        even if it contains spaces. <<Note>>: For Maven \< 2.0.9, also be sure that the <<<M2_HOME>>>
        doesn't have a '\' as last character.

  [[3]] In the same dialog, add the <<<M2>>> environment variable in the user variables with the value <<<%M2_HOME%\bin>>>.

  [[4]] <<Optional>>: In the same dialog, add the <<<MAVEN_OPTS>>> environment variable in the user variables to specify JVM properties, e.g. the value
        <<<-Xms256m -Xmx512m>>>. This environment variable can be used to supply extra options to Maven.

  [[5]] In the same dialog, update/create the <<<Path>>> environment variable in the user variables and prepend the value <<<%M2%>>> to add
        Maven available in the command line.

  [[6]] In the same dialog, make sure that <<<JAVA_HOME>>> exists in your user variables or in the system variables and it is set to the location of your JDK,
        e.g. <<<C:\Program Files\Java\jdk1.5.0_02>>> and that <<<%JAVA_HOME%\bin>>> is in your <<<Path>>> environment variable.

  [[7]] Open a <new> command prompt (Winkey + R then type <<<cmd>>>) and run <<<mvn --version>>> to verify that it is correctly installed.

** Unix-based Operating Systems (Linux, Solaris and Mac OS X)

  [[1]] Extract the distribution archive, i.e. <<<apache-maven-${currentStableVersion}-bin.tar.gz>>> to the directory you wish to install Maven ${currentStableVersion}.
        These instructions assume you chose <<</usr/local/apache-maven>>>. The subdirectory <<<apache-maven-${currentStableVersion}>>> will
        be created from the archive.

  [[2]] In a command terminal, add the <<<M2_HOME>>> environment variable, e.g. <<<export M2_HOME=/usr/local/apache-maven/apache-maven-${currentStableVersion}>>>.

  [[3]] Add the <<<M2>>> environment variable, e.g. <<<export M2=$M2_HOME/bin>>>.

  [[4]] <<Optional>>: Add the <<<MAVEN_OPTS>>> environment variable to specify JVM properties, e.g. <<<export MAVEN_OPTS="-Xms256m -Xmx512m">>>.
        This environment variable can be used to supply extra options to Maven.

  [[5]] Add <<<M2>>> environment variable to your path, e.g. <<<export PATH=$M2:$PATH>>>.

  [[6]] Make sure that <<<JAVA_HOME>>> is set to the location of your JDK, e.g.
        <<<export JAVA_HOME=/usr/java/jdk1.5.0_02>>> and that <<<$JAVA_HOME/bin>>> is in your <<<PATH>>> environment variable.

  [[7]] Run <<<mvn --version>>> to verify that it is correctly installed.

** Optional configuration

  Maven will work for most tasks with the above configuration, however if you have any environmental specific configuration outside of individual
  projects then you will need to configure settings. The following sections refer to what is available.

*** Settings

  Maven has a settings file located in the Maven installation and/or user home directory that configure environmental specifics such as:

    * HTTP proxy server

    * repository manager location

    * server authentication and passwords

    * other configuration properties

  For information on this file, see the {{{./settings.html} Settings reference}}

*** Security

  As of Maven 2.1.0+, you can encrypt passwords in your settings file, however you must first configure a master password. For more information on
  both server passwords and the master password, see the {{{./guides/mini/guide-encryption.html} Guide to Password Encryption}}.

*** Toolchains

  As of Maven 2.0.9+, you can build a project using a specific version of JDK independent from the one Maven is running with.
  For more information, see the {{{./guides/mini/guide-using-toolchains.html} Guide to Using Toolchains}}.
