---
title: Maven Documentation
author: 
  - Jason van Zyl
  - Eric Redmond
date: 2009-08-01
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

# Documentation

User Centre
-----------

#[[### Maven Build Fundamentals]]#

- [Getting Started in 5 Minutes](./getting-started/maven-in-five-minutes.html)
- [Getting Started in 30 Minutes](./getting-started/index.html)
#[[### Maven Build Config Fundamentals]]#

- [Standard Directory Layout](./introduction/introduction-to-the-standard-directory-layout.html)
- [Repositories](./introduction/introduction-to-repositories.html)
- [What is an Archetype](./introduction/introduction-to-archetypes.html)
- [Creating Archetypes](./mini/guide-creating-archetypes.html)
- [The Dependency Mechanism](./introduction/introduction-to-dependency-mechanism.html)
- [ Optional Dependencies and Dependency Exclusions](./introduction/introduction-to-optional-and-excludes-dependencies.html)
- [Glossary](../glossary.html)
#[[#### Site]]#

- [Creating a Site](./mini/guide-site.html)
- [The APT Format](/doxia/references/apt-format.html)
- [Snippet Macro](./mini/guide-snippet-macro.html)
#[[### Getting Started with Maven]]#

- [The Build Lifecycle](./introduction/introduction-to-the-lifecycle.html)
- [The POM](./introduction/introduction-to-the-pom.html)
- [Profiles](./introduction/introduction-to-profiles.html)
- [Configuring Plug-ins](./mini/guide-configuring-plugins.html)
- [POM Overview](../pom.html) ([Technical Project Descriptor](../ref/current/maven-model/maven.html))
- [Settings Overview](../settings.html) ([Technical Settings Descriptor](../ref/current/maven-settings/settings.html))

Plugin Developer Centre
-----------------------

- [Plugin Development](./introduction/introduction-to-plugins.html)
- [Plugin Prefix Resolution](./introduction/introduction-to-plugin-prefix-mapping.html)
- [Developing Java Plugins](./plugin/guide-java-plugin-development.html)
- [The Plugin Documentation Standard](./development/guide-plugin-documentation.html)
- [Testing Development Versions of Plugins](./development/guide-testing-development-plugins.html)
- [Mojo API](../developers/mojo-api-specification.html)

Maven Repository Centre
-----------------------

- [Installing 3rd party JARs to Local Repository](./mini/guide-3rd-party-jars-local.html)
- [Deploying 3rd party JARs to Remote Repository](./mini/guide-3rd-party-jars-remote.html)
- [Repository Management](/repository-management.html)
- [Using Multiple Repositories](./mini/guide-multiple-repositories.html)
- [Large Scale Centralized Deployments](./mini/guide-large-scale-centralized-deployments.html)
- [Mirror Settings](./mini/guide-mirror-settings.html)
- [Deployment and Security Settings](./mini/guide-deployment-security-settings.html)
- [Using Proxies](./mini/guide-proxies.html)
- [Authenticated HTTPS](./mini/guide-repository-ssl.html)
- [Remote repository access through authenticated HTTPS](./mini/guide-repository-ssl.html)
- [Relocation of Artifacts](./mini/guide-relocation.html)
#[[### The Central Repository]]#

- [Introduction to the Central Repository](/repository/)
- [Uploading Artifacts to the Central Repository](/repository/guide-central-repository-upload.html)
- [Improving the Repository](/repository/central-metadata.html)

Guides
------

#set( $prefix = './mini' )
#parse( "mini/index.txt" )
- [Maven Auto-Completion Using BASH](./mini/guide-bash-m2-completion.html)

Maven Developer Centre
----------------------

- [Building Maven from Scratch](./development/guide-building-maven.html)
- [Developing Maven](./development/guide-maven-development.html)
- [Maven Documentation Style](./development/guide-documentation-style.html)
- [Maven Conventions](../maven-conventions.html)
- [Naming Conventions](./mini/guide-naming-conventions.html)
- [When You Can't Use the Conventions](./mini/guide-using-one-source-directory.html)

The Maven Community
-------------------

- [The Maven Community](../community.html)
- [Helping with Maven](./development/guide-helping.html)
- [Guide for New Committers](./mini/guide-new-committers.html)
- [3rd Party Resources](../articles.html)

Javadoc API
-----------

Here is some useful Javadoc API links to the current version of Maven:

- [Maven Artifact](/ref/current/maven-artifact/apidocs/)
- [Maven Reporting](/shared/maven-reporting-api/apidocs/)
- [Maven Plugin API](/ref/current/maven-plugin-api/apidocs/)
- [Maven Model](/ref/current/maven-model/apidocs/)
- [Maven Core](/ref/current/maven-core/apidocs/)
- [Maven Settings](/ref/current/maven-settings/apidocs/)

You can also browse the [full technical documentation references](/ref/current/) of the current version of Maven.

